
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

.box1 {
  grid-column: 2 / 4;
  grid-row: 1;
  display: block;
}

.box2 {
  grid-column: 1;
  grid-row: 1 / 3;
  display: block;
}

.box3 {
  grid-row: 2 / 4;
  grid-column: 1;
  display: block;
}

.diff {
  background-color: #e2e8f0
}

img{
  height: 150px;
  width: 150px;
  display: block;
}


@media(max-width:400px){
  body{
    font-size: 50%;
  }
  p{
    font-size: 50%;
  }
}

@media(min-width:900px){
   body{
     font-size: 100%;
   }
   p{
     font-size: 100%;
   }
}

@media(min-width:401px)and(max-width:899px){
  body{
    font-size: 75%;
  }
  p{
    font-size: 75%;
  }
}

.bg-first-color { 
	background: #394a51; 
}
	
.bg-second-color { 
	background: #7fa99b; 
}

.bg-third-color { 
	background: #fbf2d5; 
}

.bg-fourth-color { 
	background: #fdc57b; 
}

.first-color { 
  --tw-text-opacity: 1;
	color: #394a51; 
}
	
.second-color { 
  --tw-text-opacity: 1;
	color: #7fa99b; 
}

.third-color { 
  --tw-text-opacity: 1;
	color: #fbf2d5; 
}

.fourth-color { 
  --tw-text-opacity: 1;
	background: #fdc57b; 
}



.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
}


.esconder-modal {
  visibility: hidden;
}